{% if pageCount > 1 %}
<nav aria-label="...">
  <ul style="display:flex; align-items:center; justify-content:space-around;" class="pagination pagination-circle">

    {% if previous is defined %}
      <li class="page-item">
        <a class="page-link" href="{{ path(route, query|merge({ (pageParameterName): previous })) }}">Précédent</a>
      </li>
    {% endif %}

    {% for page in pagesInRange %}
      <li class="page-item {% if page == current %}active{% endif %}" style="border-radius: 50%;" >
        <a class="page-link" href="{{ path(route, query|merge({ (pageParameterName): page })) }}">
          {{ page }}
        </a>
      </li>
    {% endfor %}

    {% if next is defined %}
      <li class="page-item">
        <a class="page-link" href="{{ path(route, query|merge({ (pageParameterName): next })) }}">Suivant</a>
      </li>
    {% endif %}

  </ul>
</nav>
{% endif %}
