{% extends 'base.html.twig' %}
{% block title %}Ajouter au stock{% endblock %}

{% block body %}
<div class="container">
    <br><br><br>
    <h1>Ajouter le stock pour {{ product.name }}</h1> <br><br><br>

    {% include 'layouts/_flash_message.html.twig' %}
    

    {{ form_start(form) }}
        {{ form_row(form.qte, {'attr': {'class': 'form-control'}}) }}<br>
        <input type="submit"class="btn btn-outline-success btn-block" value="Ajouter au stock">
    {{ form_end(form) }}

    </div>
{% endblock %}