body {
    /* background-color: skyblue; */
}

.login-form {
    width: 500px;
    text-align: center;
}

.btn-block {
    width: 100%;

}
.security-form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
}
h1, h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.nav-cart {
  display: flex;
  align-items: center;
  position: relative;
}

.nav-cart i {
  font-size: 20px;
  margin-right: 5px;
}

.nav-cart .badge {
  position: absolute;
  top: -8px;
  right: -10px;
  border-radius: 50%;
  padding: 4px 6px;
  font-size: 12px;
}
